@font-face {
	font-family : MCFont;
	src         : url(Minecraft.otf);
	}

* {
	-moz-user-select    : none;
	-ms-user-select     : none;
	-webkit-user-select : none;
	cursor              : default;
	font-family         : 'MCFont', 'Curlz MT', 'sans-serif' !important;
	font-size           : xx-large;
	list-style-type     : none;
	margin              : auto;
	overflow            : hidden;
	user-select         : none;
	}

#Shop_Button {
	bottom     : 0;
	cursor     : pointer;
	filter     : drop-shadow(0 1px 3px rgba(0, 0, 0, 0.25));
	position   : fixed;
	right      : 0;
	transition : 0.5s ease;
	z-index    : 1000;
	display    : none;
	}

#Bossbar {
	-o-transition      : 0.5s ease;
	-webkit-filter     : drop-shadow(0 1px 3px rgba(0, 0, 0, 0.25));
	-webkit-transition : 0.5s ease;
	accent-color       : #60B;
	filter             : drop-shadow(0 1px 3px rgba(0, 0, 0, 0.25));
	left               : 0;
	margin             : auto;
	position           : absolute;
	right              : 0;
	top                : 28px;
	transition         : 0.5s ease;
	width              : 750px;
	z-index            : 1000;
	display            : none;
	}

#Villager {
	background-size : 100% 100%;
	position        : fixed;
	display         : none;
	}

.Board {
	background-size : 100% 100%;
	position        : fixed;
	height          : 100%;
	width           : 100%;
	}

.Level {
	-webkit-filter : dropShadow(0 0 4px rgba(0, 0, 0, 0.75));
	filter         : dropShadow(0 0 4px rgba(0, 0, 0, 0.75));
	left           : 0;
	pointer-events : none;
	position       : fixed;
	right          : 0;
	text-align     : center;
	top            : 0;
	width          : -moz-fit-content;
	width          : -webkit-fit-content;
	width          : fit-content;
	z-index        : 1000;
	display        : none;
	}

.Chat {
	background  : rgba(0, 0, 0, 0.5);
	height      : fit-content;
	align-items : center;
	width       : fit-content;
	position    : fixed;
	text-align  : left;
	z-index     : 1000;
	padding     : 3px;
	bottom      : 75px;
	left        : 0;
	color       : #FFF;
	display     : none;
	& .Death, & .Join {
		text-align : left;
		font-size  : 28px;
		margin     : 8px 0;
		z-index    : 1000;
		display    : none;
		&.Join {color : #FF0;}
		}
	}

#Villager {
	position : fixed;
	z-index  : 750;
	cursor   : pointer;
	}

#Stats {
	-ms-flex-direction    : column;
	-webkit-box-direction : normal;
	-webkit-box-orient    : vertical;
	-webkit-filter        : drop-shadow(0px 0px 1px #111);
	bottom                : 0;
	filter                : drop-shadow(0px 0px 1px #111);
	flex-direction        : column;
	height                : -moz-fit-content;
	height                : -webkit-fit-content;
	height                : fit-content;
	left                  : 0;
	position              : absolute;
	right                 : 0;
	width                 : -moz-fit-content;
	width                 : -webkit-fit-content;
	width                 : fit-content;
	z-index               : 1000;
	& #Heart_Bar {
		-ms-flex-order            : 0;
		-webkit-box-ordinal-group : 1;
		background-size           : 32px 32px;
		display                   : none;
		height                    : -moz-fit-content;
		height                    : -webkit-fit-content;
		height                    : fit-content;
		order                     : 0;
		padding                   : 4px;
		pointer-events            : none;
		width                     : -moz-fit-content;
		width                     : -webkit-fit-content;
		width                     : fit-content;
		& .Heart {
			padding : 1px;
			width   : 56px;
			}
		}
	& #Hotbar {
		-ms-flex-order            : 1;
		-webkit-box-ordinal-group : 2;
		background                : url(Stats/Hotbar.png) no-repeat center;
		background-size           : 100% 100%;
		display                   : none;
		height                    : 64px;
		order                     : 1;
		padding                   : 4px;
		width                     : 576px;
		& .Bar {
			background      : url(Stats/HotbarSlot.webp) no-repeat center;
			background-size : 100% 100%;
			height          : 64px;
			margin          : 0;
			padding         : 0;
			width           : 64px;
			& img {
				background : none;
				cursor     : pointer;
				height     : 50px;
				margin     : auto;
				padding    : 7px;
				width      : 50px;
				}
			&:hover {
				-ms-transform      : scale(1.1);
				-o-transition      : all 0.2s;
				-webkit-transform  : scale(1.1);
				-webkit-transition : all 0.2s;
				background-image   : url(Stats/SelectedSlot.webp);
				transform          : scale(1.1);
				transition         : all 0.2s;
				}
			}
		}
	}

#Close {
	cursor      : pointer;
	font-weight : bolder;
	}

#Title_Card {
	position : fixed;
	z-index  : 1000;
	left     : 0;
	right    : 0;
	top      : 50px;
	width    : 90vh;
	}

#MainMenu {
	position        : fixed;
	z-index         : 1000;
	display         : flex;
	justify-content : center;
	flex-direction  : column;
	width           : 50vw;
	height          : fit-content;
	}

.MenuButtons {
	display         : block;
	background      : url(Stats/MenuButton.png) no-repeat center;
	background-size : 100% 100%;
	height          : 20px;
	width           : 200px;
	&.left {
		width : 97px;
		order : 0;
		}
	&.right {
		width : 97px;
		order : 1;
		}
	&:hover {
		cursor : pointer;
		}
	&:active {
		}
	}