body {
    background-image: url(https://github.com/DrTemperance/DrTemperance.github.io/blob/main/images/back.jpg);
    font-family: Monomaniac One;
    text-align: center;
    font-weight: 250;
}

div {
    color: rgb(10, 10, 10);
    padding: 5px;
}

nav {
    background-image: url("https://github.com/DrTemperance/DrTemperance.github.io/blob/afc9a25626c68d981e89dd12d8847500d4c08c96/images/nav.png");
    background-size: cover;
    border: 8px ridge #43157b;
    border-radius:100px;
    text-align: center;
    padding-bottom: 0.5%;
}

li {
    background: rgb(255, 229, 234);
    border-radius: 3px;
    border: 2.5px solid black;
    display: inline-block;
    padding: 5px;
    margin: 0.0725%;
}

a {
    text-decoration: 0;
}

.active-page {
    background: rgb(211, 163, 172);
    font-weight: bold;
}

h1 {
    font-size: 50px;
}

footer {
    font-size: x-small;
    position: absolute;
    bottom: 10;
}

.tempie {
    border: 8px ridge #43157b;
    border-radius: 25%;
}

.time {
    background: salmon;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 750;
    max-width: 300px;
    border-radius: 15px;
}

.rotate {
    transform: rotate(var(--count));
  }