#FullContainer {width : 100%;}

#ButtonContainer {
	margin : auto;
	width  : 40%;
	}

#GoButton {
	background : #D3D3D3;
	border     : 2px #A9A9A9 double;
	cursor     : pointer;
	font-size  : 30px;
	margin     : auto;
	width      : 100%;
	}

#SortContainer {
	display : table;
	margin  : 0 auto;
	width   : 100%;
	}

.SubContainer {
	border     : 4px #228B22 groove;
	display    : inline-block;
	margin-top : 1.25%;
	width      : 45%;
	}

#BubbleArea {margin-left : 2.5%;}

#QuickArea {margin-left : 3.75%;}

.SubContainer > h2 {
	align-items     : center;
	display         : flex;
	height          : 32px;
	justify-content : center;
	margin-left     : 5%;
	margin-top      : 0;
	text-align      : center;
	}


.SortElement {
	background : repeat-x center;
	height     : 100%;
	left       : 0;
	margin     : 0;
	padding    : 0;
	position   : absolute;
	top        : 0;
	width      : 100%;
	}

.SubContainer > div {position : relative;}

.BubbleElement {background : url('img/bubble.png');}

.QuickElement {background : url('img/quick.png');}