table {
	margin          : auto;
	border-collapse : collapse;
	width           : 90%;
	height          : -webkit-fit-content;
	height          : -moz-fit-content;
	height          : fit-content;
	}

th, td {
	text-align : left;
	padding    : 8px;
	}

th {
	background-color : #EEE;
	color            : #000;
	font-weight      : bolder;
	border           : outset 3px #000;
	}

tr {
	-webkit-transition : all 0.5s ease-in-out;
	-o-transition      : all 0.5s ease-in-out;
	transition         : all 0.5s ease-in-out;
	&:nth-child(even) {background-color : #CCC;}
	&:nth-child(odd) {background-color : #DDD;}
	& b {
		font-size   : larger;
		font-weight : bold;
		}
	}