body {
	background-image : url('https://siliconic.files.wordpress.com/2011/04/img2.jpg');
	padding          : 15px;

	thead {background-color : #8A2BE266;}
	table > :not(thead) {
		> :nth-child(even) {background-color : #FF7F5022;}
		> :nth-child(odd) {background-color : #0000FF22;}
		}
	}

td {
	border     : 1px #000;
	width      : 64px;
	height     : 64px;
	padding    : 5px;
	margin     : 0 auto;
	text-align : center;
	p {-webkit-filter : drop-shadow(1px 1px 2px #000000AA);filter : drop-shadow(1px 1px 2px #000000AA);}
	}