body {background-color : #006400;}

#Board {
	background-color : #000;
	border           : 1px solid white;
	height           : 440px;
	width            : 440px;
	}

#Score, #High_Score {color : #FFF;}

.Snake, .Apple {
	display     : block;
	height      : 20px;
	position    : absolute;
	user-select : none;
	width       : 20px;
	}

.Snake {
	background-color : #008000;
	z-index          : 2;
	}

#Snake-Head {background-color : #006400;}

.Apple {
	background-color : #F00;
	z-index          : 1;
	}