* { margin : auto; user-select : none; }

body {background-color : #021;}

#board {
	border          : 1px double #66A;
	position        : relative;
	width           : 440px;
	height          : 440px;
	backdrop-filter : blur(10px);
	background      : rgba(255, 255, 255, 0.5);
	}

span {
	position      : absolute;
	width         : 50px;
	height        : 50px;
	border-radius : 15%;
	}