#Board {
	border : #CCC ridge 4px;
	margin : auto;
	width  : 400px;
	}

#info-bar {
	background : #D3D3D3;
	font-size  : 2rem;
	min-height : fit-content;
	text-align : center;
	width      : auto;
	}

#shape-container {
	background    : #000;
	border-bottom : #CCC ridge 4px;
	border-top    : #CCC ridge 4px;
	height        : 400px;
	width         : 400px;
	}

#button-box {
	background : #A9A9A9;
	height     : 40px;
	width      : 400px;
	}

#shape {
	border   : #FFF solid 2px;
	color    : #FFF;
	display  : block;
	height   : 100px;
	left     : 150px;
	position : relative;
	top      : 150px;
	width    : 100px;
	}

button {
	height : auto;
	margin : 10px auto auto 9px;
	width  : auto;
	}

p {margin : 10px;}