#Board {
	border     : #CCC ridge 4px;
	box-shadow : 0 2px 2px 0 #000;
	margin     : auto;
	padding    : 0;
	width      : 400px;
	}

#info-bar {
	background      : #D3D3D3;
	display         : inline-flex;
	flex            : min-content;
	font-size       : 2rem;
	height          : 100%;
	justify-content : center;
	margin          : 0 auto;
	min-height      : fit-content;
	min-width       : fit-content;
	text-align      : center;
	white-space     : nowrap;
	width           : 100%;
	}

#shape-container {
	background    : #000;
	border-bottom : #CCC ridge 4px;
	border-top    : #CCC ridge 4px;
	height        : 400px;
	width         : 400px;
	}

#button-box {
	align-content   : space-evenly;
	background      : #A9A9A9;
	display         : inline-flex;
	justify-content : space-evenly;
	margin          : auto;
	max-height      : 100%;
	max-width       : 400px;
	width           : 373px;
	}

#shape {
	border   : #FFF solid 2px;
	color    : #FFF;
	display  : block;
	height   : 100px;
	left     : 150px;
	position : relative;
	top      : 150px;
	width    : 100px;
	}

button {
	background     : #777;
	border-radius  : 1%;
	font-family    : 'Helvetica Rounded LT', 'Arial Rounded MT Bold', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
	font-size      : 0.8rem;
	font-weight    : bold;
	height         : 15px;
	letter-spacing : 0;
	line-height    : 0;
	text-align     : center;
	width          : 50px;
	&.good {
		background    : #228B22;
		color         : #114611;
		border-radius : 300px;
		height        : 38px;
		width         : 38px;
		}
	&.bad {
		background    : #F00;
		color         : #700;
		border-radius : 300px;
		height        : 38px;
		width         : 38px;
		}
	&.display {
		background    : #DDD;
		border-radius : 300px;
		height        : 38px;
		width         : 38px;
		}

	margin         : 10px auto auto 9px;
	padding        : 0;
	&:not(:active) {
		border : 1px outset;
		filter : drop-shadow(0 2px 1px #000);
		}
	&:hover {cursor : pointer;}
	&:active {
		border : 1px inset;
		& p {
			transform : translate(0, 2px);
			}
		}
	& p {
		max-width           : min-content;
		max-height          : min-content;
		margin          : 0 auto;
		align-content   : center;
		text-align      : center;
		justify-content : center;
		filter          : drop-shadow(0 1px 1px #000);
		}
	}