html {background : #2F394F;}

#board {
	background : black;
	width      : 50vw;
	height     : 70vh;
	left       : 0;
	top        : 0;
	position   : absolute;
	overflow   : hidden;
	right      : 0;
	bottom     : 0;
	margin     : auto;
	border     : #555 inset 8px;
	filter     : drop-shadow(1px 1px 4px #222);
}


.circle {
	background    : blue;
	width         : 20px;
	height        : 20px;
	border-radius : 25px;
	position      : absolute;
	border        : #00A ridge 2px;
	filter        : drop-shadow(1px 1px 4px black);
}