
.square {
	width    : 20px;
	height   : 20px;
	position : absolute;
	}

body > div {position : relative;}

#button-box {
	position : relative;
	top      : 350px;
	}

button {
	width       : 120px;
	padding     : 5px;
	margin-left : 12px;
	cursor      : pointer;
	}

#apply {background : #080;
	&:not(:active) {border : #040 outset 2px;}
	&:active {border : #040 inset 2px;}
	}

#reset {background : #F00;
	&:not(:active) {border : #A00 outset 2px;}
	&:active {border : #A00 inset 2px;}
	}