*:not([id*="cycle"]) {
    font-family: 'Courier New', 'Courier', 'Consolas', 'monospace';
}

html {
    background: -webkit-gradient(linear, left top, right bottom, from(#111), to(#444));
}

#board {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    border: #aaa ridge 4px;
    background: #888;
    margin: auto;
}

#info-bar {
    width: 100%;
    height: 100%;
    background: #bbb;
    font-size: 2.75rem;
    text-align: center;
    font-weight: bold;
}

#shape-container {
    width: 100%;
    height: 500px;
    background: #000;
    border-top: #bbb ridge 4px;
    border-bottom: #bbb ridge 4px;
}

#button-box {
    margin: auto;
    width: fit-content;
    height: 40px;
    display: flex;
    flex-direction: row;
}

#shape {
    color: #eee;
    width: 100px;
    height: 100px;
    position: relative;
    top: 150px;
    left: 150px;
    border: #eee solid 2px;
    display: block;
}

button {
    width: fit-content;
    height: 75%;
    margin: auto 8px;
    font-weight: bold;
    font-size: 1rem;

    &[id*="cycle"] {
        border-radius: 10px;
        border: #111 outset 2px;
    }
}

p {
    margin: 6px;
}