* {user-select : none;}

html {background : #111;}

.bubbleElement {background : url('img/bubble.png');}

.quickElement {background : url('img/quick.png');}

.subContainer > div {position : relative;}

.subContainer {
	background : #425F86;

	> h2 {
		width  : fit-content;
		margin : 1% auto;}
	}

#bubbleArea {margin-left : 2.5%;}

#quickArea {margin-left : 3.75%;}

#goButton {
	margin     : 4px auto;
	cursor     : pointer;
	border     : outset;
	font-size  : 32px;
	background : #888;
	width      : 30%;

	&:active {filter : invert(100%);}
	}

#sortContainer {
	margin  : 0 auto;
	display : table;
	width   : 100%;
	}

.subContainer {
	border  : 3px #151 outset;
	display : inline-block;
	margin  : 1.2% 0;
	width   : 45%;
	}