
.bubbleElement {background : url('img/bubble.png');}

.quickElement {background : url('img/quick.png');}

.subContainer > div {position : relative;}

.sortElement {position : absolute;}

.subContainer > h2 {margin : 0 5%;}

#bubbleArea {margin-left : 2.5%;}

#quickArea {margin-left : 3.75%;}

#fullContainer {width : 100%;}

#goButton {
	border     : 2px #666 solid;
	margin     : 4px auto;
	cursor     : pointer;
	background : #AAA;
	font-size  : 32px;
	width      : 30%;
	}

#sortContainer {
	margin  : 0 auto;
	display : table;
	width   : 100%;
	}

.subContainer {
	border  : 3px #151 outset;
	display : inline-block;
	margin  : 1.2% 0;
	width   : 45%;
	}