html {
	background : #000;
	height     : 100%;
	width      : 100%;
	z-index    : -1;
	}

* {
	user-select : none;
	}

#User_Controls {
	background     : rgba(150, 93, 56, 0.43);
	border         : ridge rgba(112, 72, 45, 0.62) 3px;
	margin         : 5px auto;
	padding        : 4px;
	width          : 90%;
	height         : 45px;

	display        : flex;
	flex           : fit-content;
	flex-direction : row;

	div.Sub_Control {
		background : rgba(150, 93, 56, 0.24);
		border     : ridge rgba(112, 72, 45, 0.43) 2px;
		padding    : 1px;
		height     : 43px;

		p {
			line-height : 4px;
			padding     : 0;
			margin      : 4px auto;
			height      : fit-content;
			font-family : 'AppleGothic', sans-serif;
			font-size   : small;
			text-align  : center;
			}
		input[type='range'] {
			-webkit-appearance : none;
			cursor             : pointer;
			appearance         : none;
			background         : none;
			&::-webkit-slider-runnable-track {background : #999; border : inset;}
			&::-moz-range-track {background : #999; border : inset;}
			&::-moz-range-thumb {border-radius : 0;}
			}
		}


	button {
		cursor      : pointer;
		height      : 43px;
		margin      : 1px 3px;
		padding     : 2px;
		user-select : all;
		width       : 75px;
		z-index     : 1000;

		&:not(:active) {border : outset;}
		&:active {border : inset;}

		> p {
			filter      : drop-shadow(1px 1px 2px #000);
			font-family : 'Futura', 'Helvetica Neue', 'Inconsolata', 'sans-serif';
			font-size   : 14px;
			line-height : 2px;
			margin      : auto;
			padding     : 0;
			user-select : none;
			}

		&#Sin {
			background   : #00F;
			border-color : #00A;
			> p {color : darkcyan;}
			}
		&#Cos {
			background   : #F00;
			border-color : #A00;
			> p {color : coral;}
			}
		&#Tan {
			background   : #0F0;
			border-color : #0A0;
			> p {color : #A8CC6C;}
			}
		}
	}


.Coord {
	&.Sin {
		background : #00F;
		filter     : drop-shadow(0 0 10px #00F);}
	&.Cos {
		background : #F00;
		filter     : drop-shadow(0 0 10px #F00);}
	&.Tan {
		background : #0F0;
		filter     : drop-shadow(0 0 10px #0F0);}
	border-radius : 50%;
	overflow      : visible;
	position      : absolute;
	transition    : 0.05s;
	z-index       : 500;
	}