/* Wide Variety */
@font-face {
    src: url('/projects/TimeTravel/BlockZone.ttf');
    font-family: 'VGA';
}

html, body {
    overflow: hidden;
}

* {
    font-family: 'VGA', 'Courier New', 'Courier ', ' monospace ', 'sans-serif';
    word-wrap: break-word;
    list-style-type: none;
    align-items: center;
    margin: initial auto;
    user-select: none;
    color: lime;
    -webkit-user-drag: none;

    &:focus {
        outline: none !important;
    }

    &::selection {
        background: lime;
        color: black;
    }

    &.column {
        flex-direction: column;
        display: flex;

        &.reversed {
            flex-direction: column-reverse !important;
        }
    }

    &.row {
        flex-direction: row;
        display: flex;
        width: 97%;

        &.reversed {
            flex-direction: row-reverse !important;
        }
    }
}

#screenBorder {
    pointer-events: none;
    position: fixed;
    z-index: 1002;
    margin: auto;
    height: 100%;
    width: 100%;
    padding: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

body {
    flex-direction: column;
    background: black;
    height: 98%;
    width: 98%;
}

/* Element Types */
img {
    margin: initial auto;
    position: fixed;

    &#scanlines {
        pointer-events: none;
        z-index: 1001;
        height: 54.5%;
        opacity: 40%;
        margin: auto;
        bottom: 22vh;
        width: 40%;
        right: 0;
        left: 0;
        top: 0;
    }
}

span#configButton:not(#configClose) {
    padding: 3px;
    order: 3;
    font-size: 1.1rem;
}

button {
    &#settingsOption {
        border: 3px outset rgb(0, 15, 0);
        transition: all 0.2s;
        visibility: inherit;
        margin: 2px auto;
        background: rgb(0, 100, 0);
        padding: 3px;
        height: 70px;
        z-index: 301;
        width: 75%;
    }

    &:hover {
        border: 3px inset black;
        background: rgb(0, 75, 0);
    }
}

/* Terminal Input */
#terminal {
    background: none;
    border: none;
    z-index: 100;
    width: 100%;
    order: 2;

    &:hover {
        cursor: none;
    }
}

/* Terminal Output */
#console-log {
    margin: auto;
    overflow-y: auto;
    order: 1;
    height: 100%;
    width: 99%;

    & li {
        border-bottom: 0.3vh solid lime !important;
        padding: 0.5vh 1vh !important;
        user-select: text !important;
        z-index: -10;
        filter: drop-shadow(0 0 3px lime);
    }

    &::-webkit-scrollbar {
        width: 0.5vw;
    }

    &::-webkit-scrollbar-track {
        background: black;
    }

    &::-webkit-scrollbar-thumb {
        background: lime;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 180, 0);
    }

    & * {
        font-size: .9rem;
    }
}

@media (orientation: landscape) {
    #terminal {
        width: 100% !important;
    }
}

#custom-cursor {
    background: url('stories!/80s/80sMousePrototype.webp') no-repeat;
    background-size: contain;
    pointer-events: none;
    position: absolute;
    height: 2vh;
    width: 2vh;
    z-index: 1000;
    left: 50vw;
    top: 50vh;
}

/* Configuration Menu */

#configMenu {
    border: solid 2px lime;
    visibility: hidden;
    background: rgb(0, 50, 0);
    position: fixed;
    height: 350px;
    bottom: 275px;
    width: 550px;
    margin: auto;
    padding: 8px;
    z-index: 300;
    right: 0;
    left: 0;
    top: 0;
}

#content {
    background: url('stories!/80s/screen80-1.webp') no-repeat center;
    background-size: 100% 100%;
    padding: 6% 6% 17.5% 6%;
    max-height: 96vh;
    position: fixed;
    max-width: 40vw;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    > {
        flex-direction: column;
        display: flex;
    }
}

.column {
    flex-direction: column;
    margin: initial auto;
    display: flex;

    &.reversed {
        flex-direction: column-reverse !important;
    }
}

.inputParent {
    width: 100%;
}