@font-face {
	src         : url('BlockZone.ttf');
	font-family : 'VGA';
	}

* {
	font-family       : 'VGA', 'Courier New', 'Courier ', ' monospace ', 'sans-serif';
	list-style-type   : none;
	align-items       : center;
	margin            : initial auto;
	user-select       : none;
	color             : #0F0;
	-webkit-user-drag : none;
	&:focus {outline : none !important;}
	&::selection {
		background : #0F0;
		color      : #000;
		}
	&.Column {
		flex-direction : column;
		display        : flex;
		&.Reversed {flex-direction : column-reverse !important;}
		}
	&.Row {
		flex-direction : row;
		display        : flex;
		width          : 97%;
		&.Reversed {flex-direction : row-reverse !important;}
		}
	}

#ScreenBorder {
	pointer-events : none;
	position       : fixed;
	z-index        : 1002;
	margin         : auto;
	height         : 100%;
	width          : 100%;
	padding        : 0;
	bottom         : 0;
	right          : 0;
	left           : 0;
	top            : 0;
	}

body {
	flex-direction : column;
	background     : #FFF;
	height         : 98%;
	width          : 98%;
	}

img {
	margin   : initial auto;
	position : fixed;

	&#Scanlines {
		pointer-events : none;
		z-index        : 1001;
		height         : 54.5%;
		opacity        : 40%;
		margin         : auto;
		bottom         : 22vh;
		width          : 40%;
		right          : 0;
		left           : 0;
		top            : 0;
		}
	}

span#Settings_Button:not(#SettingsClose) {
	padding   : 3px;
	order     : 3;
	font-size : 1.1rem;
	}

button:not(#TextMode, #GUIMode) {
	&#Option {
		border     : 3px outset #000F00;
		transition : all 0.2s;
		visibility : inherit;
		margin     : 2px auto;
		background : #006400;
		padding    : 3px;
		height     : 70px;
		z-index    : 301;
		width      : 75%;
		}
	&:hover {
		border     : 3px inset #000;
		background : #004B00;
		}
	}

#Terminal {
	background : none;
	border     : none;
	z-index    : 100;
	width      : 100%;
	order      : 2;
	&:hover {cursor : none;}
	}

#Console-Output {
	margin     : auto;
	overflow-y : auto;
	order      : 1;
	height     : 100%;
	width      : 99%;
	& li {
		border-bottom : 0.3vh solid #0F0 !important;
		padding       : 0.5vh 1vh !important;
		user-select   : text !important;
		z-index       : -10;
		filter        : drop-shadow(0 0 3px #0F0);
		}

	&::-webkit-scrollbar {width : 0.5vw;}
	&::-webkit-scrollbar-track {background : #000;}
	&::-webkit-scrollbar-thumb {background : #0F0;}
	&::-webkit-scrollbar-thumb:hover {background : #00B400;}
	& * {font-size : .9rem;}
	}

@media (orientation : landscape) {
	#Terminal {width : 100% !important;}
	}

#Pseudo_Cursor {
	background      : url('Stories/1980s/Mouse.webp') no-repeat;
	background-size : contain;
	pointer-events  : none;
	position        : absolute;
	height          : 2vh;
	width           : 2vh;
	z-index         : 1000;
	left            : 50vw;
	top             : 50vh;
	}

#SettingsMenu {
	border     : solid 2px #0F0;
	visibility : hidden;
	background : #003200;
	position   : fixed;
	height     : 350px;
	bottom     : 275px;
	width      : 550px;
	margin     : auto;
	padding    : 8px;
	z-index    : 300;
	right      : 0;
	left       : 0;
	top        : 0;
	}

#Content {
	background      : url('Stories/1980s/ScreenBorder.webp') no-repeat center;
	background-size : 100% 100%;
	/* padding         : 6%; */
	/* max-height      : 96vh; */
	/* position        : fixed; */
	/* max-width       : 40vw; */
	/* margin          : auto; */
	/* bottom          : 0; */
	/* right           : 0; */
	/* left            : 0; */
	/* top             : 0; */
	> {
		flex-direction : column;
		display        : flex;
		}
	}

.Column {
	flex-direction : column;
	margin         : initial auto;
	display        : flex;
	&.Reversed {flex-direction : column-reverse !important;}
	}

.InputParent {width : 100%;}