* {
}

body {
    background: darkgreen;
}

#board {
    width: 440px;
    height: 440px;
    border: 1px solid white;
    background: black;
}

#score, #highScore {
    color: white;
}

.snake, .apple {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    user-select: none;
}

.snake {
    background: green;
    z-index: 2;
}

#snake-head {
    background: darkgreen;
}

.apple {
    background: red;
    border-radius: 7px;
    z-index: 1;
}